<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".PadTrackerApp"
        android:label="PadTracker"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:allowBackup="false">
    </application>
</manifest>
